body {
  font-family: 'Heebo', 'Helvetica', 'Arial', sans-serif;
  color: '#999';
}

input {
  border: none;
  border-width: none;
}

input:focus {
  border-bottom-width: 2px;
  border-bottom-color: black;
  outline: none;
}

input::placeholder {
  font-family: 'Heebo';
  color: #999;
}