.boot-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 2.5fr  1fr;
  grid-template-areas: "image   info" 
                       "image   stats"
                       "reviews stats"
}

.reviews {
  grid-area: reviews;
}

.boot-image {
  grid-area: image;
}

.boot-info {
  grid-area: info;
}

.boot-stats {
  grid-area: stats;
}


@media (max-width: 52rem) { 
  .boot-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image   info" 
                         "reviews stats"
  }

  .boot-stats {
    margin-top: 20px;
  }
}

@media (max-width: 40rem) { 
  .boot-container {
    grid-template-columns: 1fr;
    grid-template-areas: "info   " 
                         "image  "
                         "stats  "
                         "reviews"
  }

  .boot-image > div {
    margin: 30px 0 0 0;
  }

  .reviews {
    margin: 20px 0 0 0;
  }
}